.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.product__rating {
  display: flex;
  color: rgb(223, 191, 14);
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14b;
  border-radius: 8px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  color: #111;
  margin-top: 10px;
  padding: 2px 8px 2px 8px;
  transition: all 0.3s ease-in;
}

.product > button:hover {
  background: #e6b230;
}
